.form{
    margin: auto;
}

.input{
    font-size: 2rem;
    background-color: transparent;
    color: rgb(155, 155, 155);
    border: 0;
    border-bottom: 1px solid white;
}

.input:focus{
    outline: none;
}